@import "tailwindcss";

:root {
  --background: #F5EDE2;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
}

button,
a {
  transition-property: color, background-color, border-color, box-shadow, transform;
  transition-duration: 150ms;
  transition-timing-function: ease;
}

.gradient-btn {
  background: radial-gradient(
    ellipse 96.93% 192.71% at 0% 50%,
    #08512B 0%,
    #0F64B5 25%,
    #D13FF9 50%,
    #F7451F 70%,
    #F97183 100%
  );
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.gradient-btn:hover {
  transform: translateY(3px);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.gradient-btn:active {
  transform: translateY(5px);
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1);
}
